@page "/"

<PageTitle>List des produits</PageTitle>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Quantite</th>
      <th scope="col">Prix</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>10</td>
    </tr>
   
  </tbody>
</table>
